<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/style/reset.css">
    <link rel="stylesheet" href="./assets/style/base.css">
    {% block style %}{% endblock style %}
</head>
<body>
    {% include "partials/header.twig" %}
    {% block main %}{% endblock main %}
    {% block script %}{% endblock script %}
    <script src="./assets/script/base.js"></script>
    {% include "partials/footer.twig" %}
</body>
</html>