$white-color: #F4F7FA;
$dark-blue : #03203E;

.container-create-company {
    width: 70%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;

        input {
            margin-bottom: 1rem;
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;

            &:focus {
                border-color: $dark-blue;
                outline: none;
            }
        }

        button {
            padding: 0.7rem;
            font-size: 1rem;
            color: $white-color;
            background-color: $dark-blue;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #021524;
            }
        }
    }
}