$white-color: #F4F7FA;
$dark-blue : #03203E;

.container-home {
    width: 70%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 600;
        color: $dark-blue;
    }

    &__subtitle {
        font-size: 1.3rem;
        margin-bottom: 1rem;
        font-weight: 600;
        color: $dark-blue;
    }

    h4 {
        margin-bottom: 1rem;
        font-size: 1.1rem;
        color: $dark-blue;
        font-weight: 600;
    }

    ul {
        border: 2px solid $dark-blue;
        border-radius: 8px;
        padding: 1rem;
        background-color: #ffffff73;
        list-style: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


        li {
            padding: 1.5rem 0;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;

            &:last-child {
                border-bottom: none;
            }

            span {
                font-weight: 600;
                color: #03203E;
                display: inline-block;
                width: 14%;
                max-width: 100%;
                white-space: nowrap;
                text-align: center;
            }

            span.mail {
                width: 20%;
            }

            span.age {
                width: 10%;
            }

            a {
                color: $dark-blue;
                text-decoration: none;
                font-weight: 500;
                display: inline-block;
                width: 14%;
                text-align: center;

                &:hover {
                    text-decoration: underline;
                }
            }

            a.delete-link {
                color: #e74c3c;
            }

            a.update-link {
                color: #f39c12;
            }
        }
    }

    .update-employee__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        opacity: 0.5;
    }

    .container-home__update-employee {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;
            z-index: 2;
            position: relative;
            left: 50%;
            top: 25%;
            transform: translateX(0%);
            width: 80%;
            max-width: 400px;
            border: 2px solid $dark-blue;
            padding: 2rem;
            border-radius: 8px;
            background-color: $white-color;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;

            label {
                font-weight: 600;
                color: $dark-blue;
            }

            input {
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1rem;
            }

            button {
                padding: 0.7rem;
                border: none;
                border-radius: 4px;
                background-color: $dark-blue;
                color: $white-color;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
        }
    }
}